// $width-main: 784px;
$width-main: 920px;
$size-key: 55px;
$size-key-gap: 10px;
$size-wpm-width: 135px;
$size-wpm-height: 267px;
$size-wpm-counter-width: 80px;
$size-wpm-counter-height: 43px;

$size-wpm-counter-font: 36px;


$font-main: 'Ubuntu', sans-serif;
$font-mono: 'Syne Mono', monospace;

$color-main: rgb(98, 98, 98);
$color-counter: rgba(212, 212, 212, 1);


$background-counter: rgba(0,0,0, 0.65);

$background-primary: 
            radial-gradient(
                73.44% 73.44% at 50% 32.03%,
                rgba(255, 255, 255, 0.0715) 0%,
                rgba(5, 5, 5, 0.13) 100%), 
            #FFFFFF;

$background-secondary: 
            radial-gradient(
                73.44% 73.44% at 50% 32.03%,
                rgba(255, 255, 255, 0.0715) 0%,
                rgba(5, 5, 5, 0.13) 100%), 
            #ffc800;