$color-primary: rgb(255, 255, 255);
$color-primary-border: rgb(124, 135, 248);
$color-primary-press: rgb(215, 218, 252);

$color-secondary: rgb(234, 233, 135);
$color-secondary-border: darken(rgb(234, 233, 135), 50%);
$color-secondary-press: darken(rgb(234, 233, 135), 20%);