$width-main: 784px;

$background-primary: 
            radial-gradient(
                73.44% 73.44% at 50% 32.03%,
                rgba(255, 255, 255, 0.0715) 0%,
                rgba(5, 5, 5, 0.13) 100%), 
            #FFFFFF;

$background-secondary: 
            radial-gradient(
                73.44% 73.44% at 50% 32.03%,
                rgba(255, 255, 255, 0.0715) 0%,
                rgba(5, 5, 5, 0.13) 100%), 
            #ffc800;